@import
	'forms',
	'slick'
;

// 01. Progress Bars
.progress-bar {
	display: inline-block;
	position: relative;
	width: 100%;
	border: 2px solid $dark-gray;
	margin: .5rem 0;
	padding: .5rem .75rem;

	.progress-name {
		position: relative;
		z-index: 2;
		color: $secondary-color;
		margin: 0;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: .5px;
	}

	.progress-fill {
		position: absolute;
		height: 100%;
		background: $primary-color;
		top: 0;
		left: 0;
		transition: width $global-timing .5s;
	}

	+ br {
		display: none;
	}

	&.not-in-view {
		.progress-fill {
			width: 0 !important;
		}
	}

	&:first-of-type {
		margin-top: 0;
	}

	&:last-of-type {
		margin-bottom: 0;
	}
}

// 02. Lightboxes
.featherlight {
	padding: 30px;

	.featherlight-content {
		overflow: visible !important;
	}

	button.featherlight-close {
		height: 40px;
		width: 40px;
		border-radius: 40px;
		background: $white;
		border: 2px solid $black;
		margin: -15px -15px 0 0;

		&:before {
			display: none;
		}

		&:hover {
			background: $light-gray;
		}
	}
}

// 03. Reveal (Replacing FeatherLight)
div[data-open] {
	outline: none !important;
}

.pm-trigger {
	cursor: pointer;
}

.reveal {
	padding: 1.75rem 3.5rem;
	overflow: visible;

	&.single-modal {
		padding: 1.75rem;
	}

	&.large {
		max-width: 65rem;
		text-align: center;
	}

	button.close-button {
		height: 40px;
		width: 40px;
		border-radius: 40px;
		background: $white;
		border: 2px solid $black;
		margin: -15px -15px 0 0;
		font-size: 1rem;
		color: $black;

		position: absolute;
		top: 0;
		right: 0;

		&:before {
			display: none;
		}

		&:hover {
			background: $light-gray;
			color: $black;
		}
	}

	.reveal-arrow-prev, .reveal-arrow-next {
		font-size: 0;
		border-width: 0px 0px 2px 2px;
		border-color: $gray;
		border-style: solid;
		height: 20px;
		width: 20px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		outline: none !important;
		box-shadow: none !important;
		cursor: pointer;
	}

	.reveal-arrow-prev {
		transform: rotate(45deg);
		left: 1.5rem;
	}

	.reveal-arrow-next {
		transform: rotate(225deg);
		right: 1.5rem;
	}
}