@charset 'utf-8';

// @import 'settings';
// @import 'foundation';

// @import
// 'xxoldconfig/settings',
// 'xxoldconfig/variables',
// 'xxoldconfig/foundation',
// 'xxoldconfig/mixins',
// 'xxoldconfig/icon-font',
// 'xxoldconfig/typography',
// 'xxoldsite/site';

@import
	'reset',
	'config/config',	
	'site/site',
	'blocks/blocks',
	'plugins/plugins'
;

@import url("https://use.typekit.net/foj4ord.css");

@font-face {
    font-family: 'TMGtails Sans';
    src: url('../assets/fonts/TMGtailsSans-Regular.woff2') format('woff2'),
        url('../assets/fonts/TMGtailsSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    //font-display: swap;
	font-display: block;
}

/* Testing Lines */
.grid-toggle {
	position: fixed;
	top: 50%;
	z-index: 9999999999;
	writing-mode: vertical-rl;
	background: black;
	color: white;
	left: 0;
	border-radius: 10px 0 0 10px;
	transform: rotate(180deg);
	cursor: pointer;
	font-weight: bold;
	height: 90px;
	text-align: center;
	font-family: Helvetica !important;
	font-size: .875rem;


	&:before {
		content: 'Grid Off';
		padding: .5rem;
	}
}

// .tld-build, .tld-test {
//	.off-canvas-wrapper {
//		a[href="#"]:not(.load-more), a[href=""]:not(.load-more) {
//			color: red !important;
//			outline: 2px solid red !important;
//			animation: pulse 1s infinite;
//		}
//	}
//}

.tld-grid {
	#header {
		outline: 1px solid blue;

		> div {
			position: relative;
			&:before, &:after {
				content: "";
				position: absolute;
				height: 4000px;
				max-height: 100vh;
				width: 1px;
				top: 0;
				left: 0;
				background: cyan;
				box-shadow: .9375rem 0px 0px tomato;
			}
			&:after {
				left: auto;
				right: 0;
				box-shadow: -.9375rem 0px 0px tomato;
			}
		}
	}

	.grid-toggle {
		background: #00bbff;
		&:before {
			content: 'Grid On';
		}
	}

	.xoff-canvas-wrapper {
		a[href="#"]:not(.load-more), a[href=""]:not(.load-more) {
			color: red !important;
			outline: 2px solid red !important;
			animation: pulse 1s infinite;
		}
	}

}

@keyframes pulse {
	0% {
		outline: 2px solid red;
	}
	50% {
		outline: 2px solid transparent
	}
	100% {
		outline: 2px solid red;
	}
}

html {
	background-color: $tmg_coffee; // Set HTML to lowest item background color in case page is too short for window. Make sure body color is set!
}
