// If changes are made, add menu-icon-### to new icons and older if deleted ( .icon-###, .menu-icon-### > a

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../assets/fonts" !default;


$icon-home: "\e900";
$icon-home2: "\e901";
$icon-home3: "\e902";
$icon-office: "\e903";
$icon-newspaper: "\e904";
$icon-pencil: "\e905";
$icon-pencil2: "\e906";
$icon-quill: "\e907";
$icon-pen: "\e908";
$icon-blog: "\e909";
$icon-eyedropper: "\e90a";
$icon-droplet: "\e90b";
$icon-paint-format: "\e90c";
$icon-image: "\e90d";
$icon-images: "\e90e";
$icon-camera: "\e90f";
$icon-headphones: "\e910";
$icon-music: "\e911";
$icon-play: "\e912";
$icon-film: "\e913";
$icon-video-camera: "\e914";
$icon-dice: "\e915";
$icon-pacman: "\e916";
$icon-spades: "\e917";
$icon-clubs: "\e918";
$icon-diamonds: "\e919";
$icon-bullhorn: "\e91a";
$icon-connection: "\e91b";
$icon-podcast: "\e91c";
$icon-feed: "\e91d";
$icon-mic: "\e91e";
$icon-book: "\e91f";
$icon-books: "\e920";
$icon-library: "\e921";
$icon-file-text: "\e922";
$icon-profile: "\e923";
$icon-file-empty: "\e924";
$icon-files-empty: "\e925";
$icon-file-text2: "\e926";
$icon-file-picture: "\e927";
$icon-file-music: "\e928";
$icon-file-play: "\e929";
$icon-file-video: "\e92a";
$icon-file-zip: "\e92b";
$icon-copy: "\e92c";
$icon-paste: "\e92d";
$icon-stack: "\e92e";
$icon-folder: "\e92f";
$icon-folder-open: "\e930";
$icon-folder-plus: "\e931";
$icon-folder-minus: "\e932";
$icon-folder-download: "\e933";
$icon-folder-upload: "\e934";
$icon-price-tag: "\e935";
$icon-price-tags: "\e936";
$icon-barcode: "\e937";
$icon-qrcode: "\e938";
$icon-ticket: "\e939";
$icon-cart: "\e93a";
$icon-coin-dollar: "\e93b";
$icon-coin-euro: "\e93c";
$icon-coin-pound: "\e93d";
$icon-coin-yen: "\e93e";
$icon-credit-card: "\e93f";
$icon-calculator: "\e940";
$icon-lifebuoy: "\e941";
$icon-phone: "\e942";
$icon-phone-hang-up: "\e943";
$icon-address-book: "\e944";
$icon-envelop: "\e945";
$icon-pushpin: "\e946";
$icon-location: "\e947";
$icon-location2: "\e948";
$icon-compass: "\e949";
$icon-compass2: "\e94a";
$icon-map: "\e94b";
$icon-map2: "\e94c";
$icon-history: "\e94d";
$icon-clock: "\e94e";
$icon-clock2: "\e94f";
$icon-alarm: "\e950";
$icon-bell: "\e951";
$icon-stopwatch: "\e952";
$icon-calendar: "\e953";
$icon-printer: "\e954";
$icon-keyboard: "\e955";
$icon-display: "\e956";
$icon-laptop: "\e957";
$icon-mobile: "\e958";
$icon-mobile2: "\e959";
$icon-tablet: "\e95a";
$icon-tv: "\e95b";
$icon-drawer: "\e95c";
$icon-drawer2: "\e95d";
$icon-box-add: "\e95e";
$icon-box-remove: "\e95f";
$icon-download: "\e960";
$icon-upload: "\e961";
$icon-floppy-disk: "\e962";
$icon-drive: "\e963";
$icon-database: "\e964";
$icon-undo: "\e965";
$icon-redo: "\e966";
$icon-undo2: "\e967";
$icon-redo2: "\e968";
$icon-forward: "\e969";
$icon-reply: "\e96a";
$icon-bubble: "\e96b";
$icon-bubbles: "\e96c";
$icon-bubbles2: "\e96d";
$icon-bubble2: "\e96e";
$icon-bubbles3: "\e96f";
$icon-bubbles4: "\e970";
$icon-user: "\e971";
$icon-users: "\e972";
$icon-user-plus: "\e973";
$icon-user-minus: "\e974";
$icon-user-check: "\e975";
$icon-user-tie: "\e976";
$icon-quotes-left: "\e977";
$icon-quotes-right: "\e978";
$icon-hour-glass: "\e979";
$icon-spinner: "\e97a";
$icon-spinner2: "\e97b";
$icon-spinner3: "\e97c";
$icon-spinner4: "\e97d";
$icon-spinner5: "\e97e";
$icon-spinner6: "\e97f";
$icon-spinner7: "\e980";
$icon-spinner8: "\e981";
$icon-spinner9: "\e982";
$icon-spinner10: "\e983";
$icon-spinner11: "\e984";
$icon-binoculars: "\e985";
$icon-search: "\e986";
$icon-zoom-in: "\e987";
$icon-zoom-out: "\e988";
$icon-enlarge: "\e989";
$icon-shrink: "\e98a";
$icon-enlarge2: "\e98b";
$icon-shrink2: "\e98c";
$icon-key: "\e98d";
$icon-key2: "\e98e";
$icon-lock: "\e98f";
$icon-unlocked: "\e990";
$icon-wrench: "\e991";
$icon-equalizer: "\e992";
$icon-equalizer2: "\e993";
$icon-cog: "\e994";
$icon-cogs: "\e995";
$icon-hammer: "\e996";
$icon-magic-wand: "\e997";
$icon-aid-kit: "\e998";
$icon-bug: "\e999";
$icon-pie-chart: "\e99a";
$icon-stats-dots: "\e99b";
$icon-stats-bars: "\e99c";
$icon-stats-bars2: "\e99d";
$icon-trophy: "\e99e";
$icon-gift: "\e99f";
$icon-glass: "\e9a0";
$icon-glass2: "\e9a1";
$icon-mug: "\e9a2";
$icon-spoon-knife: "\e9a3";
$icon-leaf: "\e9a4";
$icon-rocket: "\e9a5";
$icon-meter: "\e9a6";
$icon-meter2: "\e9a7";
$icon-hammer2: "\e9a8";
$icon-fire: "\e9a9";
$icon-lab: "\e9aa";
$icon-magnet: "\e9ab";
$icon-bin: "\e9ac";
$icon-bin2: "\e9ad";
$icon-briefcase: "\e9ae";
$icon-airplane: "\e9af";
$icon-truck: "\e9b0";
$icon-road: "\e9b1";
$icon-accessibility: "\e9b2";
$icon-target: "\e9b3";
$icon-shield: "\e9b4";
$icon-power: "\e9b5";
$icon-switch: "\e9b6";
$icon-power-cord: "\e9b7";
$icon-clipboard: "\e9b8";
$icon-list-numbered: "\e9b9";
$icon-list: "\e9ba";
$icon-list2: "\e9bb";
$icon-tree: "\e9bc";
$icon-menu: "\e9bd";
$icon-menu2: "\e9be";
$icon-menu3: "\e9bf";
$icon-menu4: "\e9c0";
$icon-cloud: "\e9c1";
$icon-cloud-download: "\e9c2";
$icon-cloud-upload: "\e9c3";
$icon-cloud-check: "\e9c4";
$icon-download2: "\e9c5";
$icon-upload2: "\e9c6";
$icon-download3: "\e9c7";
$icon-upload3: "\e9c8";
$icon-sphere: "\e9c9";
$icon-earth: "\e9ca";
$icon-link: "\e9cb";
$icon-flag: "\e9cc";
$icon-attachment: "\e9cd";
$icon-eye: "\e9ce";
$icon-eye-plus: "\e9cf";
$icon-eye-minus: "\e9d0";
$icon-eye-blocked: "\e9d1";
$icon-bookmark: "\e9d2";
$icon-bookmarks: "\e9d3";
$icon-sun: "\e9d4";
$icon-contrast: "\e9d5";
$icon-brightness-contrast: "\e9d6";
$icon-star-empty: "\e9d7";
$icon-star-half: "\e9d8";
$icon-star-full: "\e9d9";
$icon-heart: "\e9da";
$icon-heart-broken: "\e9db";
$icon-man: "\e9dc";
$icon-woman: "\e9dd";
$icon-man-woman: "\e9de";
$icon-happy: "\e9df";
$icon-happy2: "\e9e0";
$icon-smile: "\e9e1";
$icon-smile2: "\e9e2";
$icon-tongue: "\e9e3";
$icon-tongue2: "\e9e4";
$icon-sad: "\e9e5";
$icon-sad2: "\e9e6";
$icon-wink: "\e9e7";
$icon-wink2: "\e9e8";
$icon-grin: "\e9e9";
$icon-grin2: "\e9ea";
$icon-cool: "\e9eb";
$icon-cool2: "\e9ec";
$icon-angry: "\e9ed";
$icon-angry2: "\e9ee";
$icon-evil: "\e9ef";
$icon-evil2: "\e9f0";
$icon-shocked: "\e9f1";
$icon-shocked2: "\e9f2";
$icon-baffled: "\e9f3";
$icon-baffled2: "\e9f4";
$icon-confused: "\e9f5";
$icon-confused2: "\e9f6";
$icon-neutral: "\e9f7";
$icon-neutral2: "\e9f8";
$icon-hipster: "\e9f9";
$icon-hipster2: "\e9fa";
$icon-wondering: "\e9fb";
$icon-wondering2: "\e9fc";
$icon-sleepy: "\e9fd";
$icon-sleepy2: "\e9fe";
$icon-frustrated: "\e9ff";
$icon-frustrated2: "\ea00";
$icon-crying: "\ea01";
$icon-crying2: "\ea02";
$icon-point-up: "\ea03";
$icon-point-right: "\ea04";
$icon-point-down: "\ea05";
$icon-point-left: "\ea06";
$icon-warning: "\ea07";
$icon-notification: "\ea08";
$icon-question: "\ea09";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-info: "\ea0c";
$icon-cancel-circle: "\ea0d";
$icon-blocked: "\ea0e";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-checkmark2: "\ea11";
$icon-spell-check: "\ea12";
$icon-enter: "\ea13";
$icon-exit: "\ea14";
$icon-play2: "\ea15";
$icon-pause: "\ea16";
$icon-stop: "\ea17";
$icon-previous: "\ea18";
$icon-next: "\ea19";
$icon-backward: "\ea1a";
$icon-forward2: "\ea1b";
$icon-play3: "\ea1c";
$icon-pause2: "\ea1d";
$icon-stop2: "\ea1e";
$icon-backward2: "\ea1f";
$icon-forward3: "\ea20";
$icon-first: "\ea21";
$icon-last: "\ea22";
$icon-previous2: "\ea23";
$icon-next2: "\ea24";
$icon-eject: "\ea25";
$icon-volume-high: "\ea26";
$icon-volume-medium: "\ea27";
$icon-volume-low: "\ea28";
$icon-volume-mute: "\ea29";
$icon-volume-mute2: "\ea2a";
$icon-volume-increase: "\ea2b";
$icon-volume-decrease: "\ea2c";
$icon-loop: "\ea2d";
$icon-loop2: "\ea2e";
$icon-infinite: "\ea2f";
$icon-shuffle: "\ea30";
$icon-arrow-up-left: "\ea31";
$icon-arrow-up: "\ea32";
$icon-arrow-up-right: "\ea33";
$icon-arrow-right: "\ea34";
$icon-arrow-down-right: "\ea35";
$icon-arrow-down: "\ea36";
$icon-arrow-down-left: "\ea37";
$icon-arrow-left: "\ea38";
$icon-arrow-up-left2: "\ea39";
$icon-arrow-up2: "\ea3a";
$icon-arrow-up-right2: "\ea3b";
$icon-arrow-right2: "\ea3c";
$icon-arrow-down-right2: "\ea3d";
$icon-arrow-down2: "\ea3e";
$icon-arrow-down-left2: "\ea3f";
$icon-arrow-left2: "\ea40";
$icon-circle-up: "\ea41";
$icon-circle-right: "\ea42";
$icon-circle-down: "\ea43";
$icon-circle-left: "\ea44";
$icon-tab: "\ea45";
$icon-move-up: "\ea46";
$icon-move-down: "\ea47";
$icon-sort-alpha-asc: "\ea48";
$icon-sort-alpha-desc: "\ea49";
$icon-sort-numeric-asc: "\ea4a";
$icon-sort-numberic-desc: "\ea4b";
$icon-sort-amount-asc: "\ea4c";
$icon-sort-amount-desc: "\ea4d";
$icon-command: "\ea4e";
$icon-shift: "\ea4f";
$icon-ctrl: "\ea50";
$icon-opt: "\ea51";
$icon-checkbox-checked: "\ea52";
$icon-checkbox-unchecked: "\ea53";
$icon-radio-checked: "\ea54";
$icon-radio-checked2: "\ea55";
$icon-radio-unchecked: "\ea56";
$icon-crop: "\ea57";
$icon-make-group: "\ea58";
$icon-ungroup: "\ea59";
$icon-scissors: "\ea5a";
$icon-filter: "\ea5b";
$icon-font: "\ea5c";
$icon-ligature: "\ea5d";
$icon-ligature2: "\ea5e";
$icon-text-height: "\ea5f";
$icon-text-width: "\ea60";
$icon-font-size: "\ea61";
$icon-bold: "\ea62";
$icon-underline: "\ea63";
$icon-italic: "\ea64";
$icon-strikethrough: "\ea65";
$icon-omega: "\ea66";
$icon-sigma: "\ea67";
$icon-page-break: "\ea68";
$icon-superscript: "\ea69";
$icon-subscript: "\ea6a";
$icon-superscript2: "\ea6b";
$icon-subscript2: "\ea6c";
$icon-text-color: "\ea6d";
$icon-pagebreak: "\ea6e";
$icon-clear-formatting: "\ea6f";
$icon-table: "\ea70";
$icon-table2: "\ea71";
$icon-insert-template: "\ea72";
$icon-pilcrow: "\ea73";
$icon-ltr: "\ea74";
$icon-rtl: "\ea75";
$icon-section: "\ea76";
$icon-paragraph-left: "\ea77";
$icon-paragraph-center: "\ea78";
$icon-paragraph-right: "\ea79";
$icon-paragraph-justify: "\ea7a";
$icon-indent-increase: "\ea7b";
$icon-indent-decrease: "\ea7c";
$icon-share: "\ea7d";
$icon-new-tab: "\ea7e";
$icon-embed: "\ea7f";
$icon-embed2: "\ea80";
$icon-terminal: "\ea81";
$icon-share2: "\ea82";
$icon-mail: "\ea83";
$icon-mail2: "\ea84";
$icon-mail3: "\ea85";
$icon-mail4: "\ea86";
$icon-amazon: "\ea87";
$icon-google: "\ea88";
$icon-google2: "\ea89";
$icon-google3: "\ea8a";
$icon-google-plus: "\ea8b";
$icon-google-plus2: "\ea8c";
$icon-google-plus3: "\ea8d";
$icon-hangouts: "\ea8e";
$icon-google-drive: "\ea8f";
$icon-facebook: "\ea90";
$icon-facebook2: "\ea91";
$icon-instagram: "\ea92";
$icon-whatsapp: "\ea93";
$icon-spotify: "\ea94";
$icon-telegram: "\ea95";
$icon-twitter: "\ea96";
$icon-vine: "\ea97";
$icon-vk: "\ea98";
$icon-renren: "\ea99";
$icon-sina-weibo: "\ea9a";
$icon-rss: "\ea9b";
$icon-rss2: "\ea9c";
$icon-youtube: "\ea9d";
$icon-youtube2: "\ea9e";
$icon-twitch: "\ea9f";
$icon-vimeo: "\eaa0";
$icon-vimeo2: "\eaa1";
$icon-lanyrd: "\eaa2";
$icon-flickr: "\eaa3";
$icon-flickr2: "\eaa4";
$icon-flickr3: "\eaa5";
$icon-flickr4: "\eaa6";
$icon-dribbble: "\eaa7";
$icon-behance: "\eaa8";
$icon-behance2: "\eaa9";
$icon-deviantart: "\eaaa";
$icon-500px: "\eaab";
$icon-steam: "\eaac";
$icon-steam2: "\eaad";
$icon-dropbox: "\eaae";
$icon-onedrive: "\eaaf";
$icon-github: "\eab0";
$icon-npm: "\eab1";
$icon-basecamp: "\eab2";
$icon-trello: "\eab3";
$icon-wordpress: "\eab4";
$icon-joomla: "\eab5";
$icon-ello: "\eab6";
$icon-blogger: "\eab7";
$icon-blogger2: "\eab8";
$icon-tumblr: "\eab9";
$icon-tumblr2: "\eaba";
$icon-yahoo: "\eabb";
$icon-yahoo2: "\eabc";
$icon-tux: "\eabd";
$icon-appleinc: "\eabe";
$icon-finder: "\eabf";
$icon-android: "\eac0";
$icon-windows: "\eac1";
$icon-windows8: "\eac2";
$icon-soundcloud: "\eac3";
$icon-soundcloud2: "\eac4";
$icon-skype: "\eac5";
$icon-reddit: "\eac6";
$icon-hackernews: "\eac7";
$icon-wikipedia: "\eac8";
$icon-linkedin: "\eac9";
$icon-linkedin2: "\eaca";
$icon-lastfm: "\eacb";
$icon-lastfm2: "\eacc";
$icon-delicious: "\eacd";
$icon-stumbleupon: "\eace";
$icon-stumbleupon2: "\eacf";
$icon-stackoverflow: "\ead0";
$icon-pinterest: "\ead1";
$icon-pinterest2: "\ead2";
$icon-xing: "\ead3";
$icon-xing2: "\ead4";
$icon-flattr: "\ead5";
$icon-foursquare: "\ead6";
$icon-yelp: "\ead7";
$icon-paypal: "\ead8";
$icon-chrome: "\ead9";
$icon-firefox: "\eada";
$icon-IE: "\eadb";
$icon-edge: "\eadc";
$icon-safari: "\eadd";
$icon-opera: "\eade";
$icon-file-pdf: "\eadf";
$icon-file-openoffice: "\eae0";
$icon-file-word: "\eae1";
$icon-file-excel: "\eae2";
$icon-libreoffice: "\eae3";
$icon-html-five: "\eae4";
$icon-html-five2: "\eae5";
$icon-css3: "\eae6";
$icon-git: "\eae7";
$icon-codepen: "\eae8";
$icon-svg: "\eae9";
$icon-IcoMoon: "\eaea";

$social-list: (
		dribbble : $icon-dribbble,
		instagram : $icon-instagram,
		linkedin : $icon-linkedin2,
);

@font-face {
	font-family: '#{$icomoon-font-family}';
	src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?tncag3');
	src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?tncag3#iefix') format('embedded-opentype'),
	//url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff2?tncag3') format('woff2'),
	url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?tncag3') format('truetype'),
	url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?tncag3') format('woff'),
	url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?tncag3##{$icomoon-font-family}') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin icon-font() {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: '#{$icomoon-font-family}' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"], [class^="menu-icon-"], [class*=" menu-icon-"] {
	@include icon-font();
}

.menu-icon-home a:before, .icon-home:before {
	content: $icon-home;
}
.menu-icon-home2 a:before, .icon-home2:before {
	content: $icon-home2;
}
.menu-icon-home3 a:before, .icon-home3:before {
	content: $icon-home3;
}
.menu-icon-office a:before, .icon-office:before {
	content: $icon-office;
}
.menu-icon-newspaper a:before, .icon-newspaper:before {
	content: $icon-newspaper;
}
.menu-icon-pencil a:before, .icon-pencil:before {
	content: $icon-pencil;
}
.menu-icon-pencil2 a:before, .icon-pencil2:before {
	content: $icon-pencil2;
}
.menu-icon-quill a:before, .icon-quill:before {
	content: $icon-quill;
}
.menu-icon-pen a:before, .icon-pen:before {
	content: $icon-pen;
}
.menu-icon-blog a:before, .icon-blog:before {
	content: $icon-blog;
}
.menu-icon-eyedropper a:before, .icon-eyedropper:before {
	content: $icon-eyedropper;
}
.menu-icon-droplet a:before, .icon-droplet:before {
	content: $icon-droplet;
}
.menu-icon-paint-format a:before, .icon-paint-format:before {
	content: $icon-paint-format;
}
.menu-icon-image a:before, .icon-image:before {
	content: $icon-image;
}
.menu-icon-images a:before, .icon-images:before {
	content: $icon-images;
}
.menu-icon-camera a:before, .icon-camera:before {
	content: $icon-camera;
}
.menu-icon-headphones a:before, .icon-headphones:before {
	content: $icon-headphones;
}
.menu-icon-music a:before, .icon-music:before {
	content: $icon-music;
}
.menu-icon-play a:before, .icon-play:before {
	content: $icon-play;
}
.menu-icon-film a:before, .icon-film:before {
	content: $icon-film;
}
.menu-icon-video-camera a:before, .icon-video-camera:before {
	content: $icon-video-camera;
}
.menu-icon-dice a:before, .icon-dice:before {
	content: $icon-dice;
}
.menu-icon-pacman a:before, .icon-pacman:before {
	content: $icon-pacman;
}
.menu-icon-spades a:before, .icon-spades:before {
	content: $icon-spades;
}
.menu-icon-clubs a:before, .icon-clubs:before {
	content: $icon-clubs;
}
.menu-icon-diamonds a:before, .icon-diamonds:before {
	content: $icon-diamonds;
}
.menu-icon-bullhorn a:before, .icon-bullhorn:before {
	content: $icon-bullhorn;
}
.menu-icon-connection a:before, .icon-connection:before {
	content: $icon-connection;
}
.menu-icon-podcast a:before, .icon-podcast:before {
	content: $icon-podcast;
}
.menu-icon-feed a:before, .icon-feed:before {
	content: $icon-feed;
}
.menu-icon-mic a:before, .icon-mic:before {
	content: $icon-mic;
}
.menu-icon-book a:before, .icon-book:before {
	content: $icon-book;
}
.menu-icon-books a:before, .icon-books:before {
	content: $icon-books;
}
.menu-icon-library a:before, .icon-library:before {
	content: $icon-library;
}
.menu-icon-file-text a:before, .icon-file-text:before {
	content: $icon-file-text;
}
.menu-icon-profile a:before, .icon-profile:before {
	content: $icon-profile;
}
.menu-icon-file-empty a:before, .icon-file-empty:before {
	content: $icon-file-empty;
}
.menu-icon-files-empty a:before, .icon-files-empty:before {
	content: $icon-files-empty;
}
.menu-icon-file-text2 a:before, .icon-file-text2:before {
	content: $icon-file-text2;
}
.menu-icon-file-picture a:before, .icon-file-picture:before {
	content: $icon-file-picture;
}
.menu-icon-file-music a:before, .icon-file-music:before {
	content: $icon-file-music;
}
.menu-icon-file-play a:before, .icon-file-play:before {
	content: $icon-file-play;
}
.menu-icon-file-video a:before, .icon-file-video:before {
	content: $icon-file-video;
}
.menu-icon-file-zip a:before, .icon-file-zip:before {
	content: $icon-file-zip;
}
.menu-icon-copy a:before, .icon-copy:before {
	content: $icon-copy;
}
.menu-icon-paste a:before, .icon-paste:before {
	content: $icon-paste;
}
.menu-icon-stack a:before, .icon-stack:before {
	content: $icon-stack;
}
.menu-icon-folder a:before, .icon-folder:before {
	content: $icon-folder;
}
.menu-icon-folder-open a:before, .icon-folder-open:before {
	content: $icon-folder-open;
}
.menu-icon-folder-plus a:before, .icon-folder-plus:before {
	content: $icon-folder-plus;
}
.menu-icon-folder-minus a:before, .icon-folder-minus:before {
	content: $icon-folder-minus;
}
.menu-icon-folder-download a:before, .icon-folder-download:before {
	content: $icon-folder-download;
}
.menu-icon-folder-upload a:before, .icon-folder-upload:before {
	content: $icon-folder-upload;
}
.menu-icon-price-tag a:before, .icon-price-tag:before {
	content: $icon-price-tag;
}
.menu-icon-price-tags a:before, .icon-price-tags:before {
	content: $icon-price-tags;
}
.menu-icon-barcode a:before, .icon-barcode:before {
	content: $icon-barcode;
}
.menu-icon-qrcode a:before, .icon-qrcode:before {
	content: $icon-qrcode;
}
.menu-icon-ticket a:before, .icon-ticket:before {
	content: $icon-ticket;
}
.menu-icon-cart a:before, .icon-cart:before {
	content: $icon-cart;
}
.menu-icon-coin-dollar a:before, .icon-coin-dollar:before {
	content: $icon-coin-dollar;
}
.menu-icon-coin-euro a:before, .icon-coin-euro:before {
	content: $icon-coin-euro;
}
.menu-icon-coin-pound a:before, .icon-coin-pound:before {
	content: $icon-coin-pound;
}
.menu-icon-coin-yen a:before, .icon-coin-yen:before {
	content: $icon-coin-yen;
}
.menu-icon-credit-card a:before, .icon-credit-card:before {
	content: $icon-credit-card;
}
.menu-icon-calculator a:before, .icon-calculator:before {
	content: $icon-calculator;
}
.menu-icon-lifebuoy a:before, .icon-lifebuoy:before {
	content: $icon-lifebuoy;
}
.menu-icon-phone a:before, .icon-phone:before {
	content: $icon-phone;
}
.menu-icon-phone-hang-up a:before, .icon-phone-hang-up:before {
	content: $icon-phone-hang-up;
}
.menu-icon-address-book a:before, .icon-address-book:before {
	content: $icon-address-book;
}
.menu-icon-envelop a:before, .icon-envelop:before {
	content: $icon-envelop;
}
.menu-icon-pushpin a:before, .icon-pushpin:before {
	content: $icon-pushpin;
}
.menu-icon-location a:before, .icon-location:before {
	content: $icon-location;
}
.menu-icon-location2 a:before, .icon-location2:before {
	content: $icon-location2;
}
.menu-icon-compass a:before, .icon-compass:before {
	content: $icon-compass;
}
.menu-icon-compass2 a:before, .icon-compass2:before {
	content: $icon-compass2;
}
.menu-icon-map a:before, .icon-map:before {
	content: $icon-map;
}
.menu-icon-map2 a:before, .icon-map2:before {
	content: $icon-map2;
}
.menu-icon-history a:before, .icon-history:before {
	content: $icon-history;
}
.menu-icon-clock a:before, .icon-clock:before {
	content: $icon-clock;
}
.menu-icon-clock2 a:before, .icon-clock2:before {
	content: $icon-clock2;
}
.menu-icon-alarm a:before, .icon-alarm:before {
	content: $icon-alarm;
}
.menu-icon-bell a:before, .icon-bell:before {
	content: $icon-bell;
}
.menu-icon-stopwatch a:before, .icon-stopwatch:before {
	content: $icon-stopwatch;
}
.menu-icon-calendar a:before, .icon-calendar:before {
	content: $icon-calendar;
}
.menu-icon-printer a:before, .icon-printer:before {
	content: $icon-printer;
}
.menu-icon-keyboard a:before, .icon-keyboard:before {
	content: $icon-keyboard;
}
.menu-icon-display a:before, .icon-display:before {
	content: $icon-display;
}
.menu-icon-laptop a:before, .icon-laptop:before {
	content: $icon-laptop;
}
.menu-icon-mobile a:before, .icon-mobile:before {
	content: $icon-mobile;
}
.menu-icon-mobile2 a:before, .icon-mobile2:before {
	content: $icon-mobile2;
}
.menu-icon-tablet a:before, .icon-tablet:before {
	content: $icon-tablet;
}
.menu-icon-tv a:before, .icon-tv:before {
	content: $icon-tv;
}
.menu-icon-drawer a:before, .icon-drawer:before {
	content: $icon-drawer;
}
.menu-icon-drawer2 a:before, .icon-drawer2:before {
	content: $icon-drawer2;
}
.menu-icon-box-add a:before, .icon-box-add:before {
	content: $icon-box-add;
}
.menu-icon-box-remove a:before, .icon-box-remove:before {
	content: $icon-box-remove;
}
.menu-icon-download a:before, .icon-download:before {
	content: $icon-download;
}
.menu-icon-upload a:before, .icon-upload:before {
	content: $icon-upload;
}
.menu-icon-floppy-disk a:before, .icon-floppy-disk:before {
	content: $icon-floppy-disk;
}
.menu-icon-drive a:before, .icon-drive:before {
	content: $icon-drive;
}
.menu-icon-database a:before, .icon-database:before {
	content: $icon-database;
}
.menu-icon-undo a:before, .icon-undo:before {
	content: $icon-undo;
}
.menu-icon-redo a:before, .icon-redo:before {
	content: $icon-redo;
}
.menu-icon-undo2 a:before, .icon-undo2:before {
	content: $icon-undo2;
}
.menu-icon-redo2 a:before, .icon-redo2:before {
	content: $icon-redo2;
}
.menu-icon-forward a:before, .icon-forward:before {
	content: $icon-forward;
}
.menu-icon-reply a:before, .icon-reply:before {
	content: $icon-reply;
}
.menu-icon-bubble a:before, .icon-bubble:before {
	content: $icon-bubble;
}
.menu-icon-bubbles a:before, .icon-bubbles:before {
	content: $icon-bubbles;
}
.menu-icon-bubbles2 a:before, .icon-bubbles2:before {
	content: $icon-bubbles2;
}
.menu-icon-bubble2 a:before, .icon-bubble2:before {
	content: $icon-bubble2;
}
.menu-icon-bubbles3 a:before, .icon-bubbles3:before {
	content: $icon-bubbles3;
}
.menu-icon-bubbles4 a:before, .icon-bubbles4:before {
	content: $icon-bubbles4;
}
.menu-icon-user a:before, .icon-user:before {
	content: $icon-user;
}
.menu-icon-users a:before, .icon-users:before {
	content: $icon-users;
}
.menu-icon-user-plus a:before, .icon-user-plus:before {
	content: $icon-user-plus;
}
.menu-icon-user-minus a:before, .icon-user-minus:before {
	content: $icon-user-minus;
}
.menu-icon-user-check a:before, .icon-user-check:before {
	content: $icon-user-check;
}
.menu-icon-user-tie a:before, .icon-user-tie:before {
	content: $icon-user-tie;
}
.menu-icon-quotes-left a:before, .icon-quotes-left:before {
	content: $icon-quotes-left;
}
.menu-icon-quotes-right a:before, .icon-quotes-right:before {
	content: $icon-quotes-right;
}
.menu-icon-hour-glass a:before, .icon-hour-glass:before {
	content: $icon-hour-glass;
}
.menu-icon-spinner a:before, .icon-spinner:before {
	content: $icon-spinner;
}
.menu-icon-spinner2 a:before, .icon-spinner2:before {
	content: $icon-spinner2;
}
.menu-icon-spinner3 a:before, .icon-spinner3:before {
	content: $icon-spinner3;
}
.menu-icon-spinner4 a:before, .icon-spinner4:before {
	content: $icon-spinner4;
}
.menu-icon-spinner5 a:before, .icon-spinner5:before {
	content: $icon-spinner5;
}
.menu-icon-spinner6 a:before, .icon-spinner6:before {
	content: $icon-spinner6;
}
.menu-icon-spinner7 a:before, .icon-spinner7:before {
	content: $icon-spinner7;
}
.menu-icon-spinner8 a:before, .icon-spinner8:before {
	content: $icon-spinner8;
}
.menu-icon-spinner9 a:before, .icon-spinner9:before {
	content: $icon-spinner9;
}
.menu-icon-spinner10 a:before, .icon-spinner10:before {
	content: $icon-spinner10;
}
.menu-icon-spinner11 a:before, .icon-spinner11:before {
	content: $icon-spinner11;
}
.menu-icon-binoculars a:before, .icon-binoculars:before {
	content: $icon-binoculars;
}
.menu-icon-search a:before, .icon-search:before {
	content: $icon-search;
}
.menu-icon-zoom-in a:before, .icon-zoom-in:before {
	content: $icon-zoom-in;
}
.menu-icon-zoom-out a:before, .icon-zoom-out:before {
	content: $icon-zoom-out;
}
.menu-icon-enlarge a:before, .icon-enlarge:before {
	content: $icon-enlarge;
}
.menu-icon-shrink a:before, .icon-shrink:before {
	content: $icon-shrink;
}
.menu-icon-enlarge2 a:before, .icon-enlarge2:before {
	content: $icon-enlarge2;
}
.menu-icon-shrink2 a:before, .icon-shrink2:before {
	content: $icon-shrink2;
}
.menu-icon-key a:before, .icon-key:before {
	content: $icon-key;
}
.menu-icon-key2 a:before, .icon-key2:before {
	content: $icon-key2;
}
.menu-icon-lock a:before, .icon-lock:before {
	content: $icon-lock;
}
.menu-icon-unlocked a:before, .icon-unlocked:before {
	content: $icon-unlocked;
}
.menu-icon-wrench a:before, .icon-wrench:before {
	content: $icon-wrench;
}
.menu-icon-equalizer a:before, .icon-equalizer:before {
	content: $icon-equalizer;
}
.menu-icon-equalizer2 a:before, .icon-equalizer2:before {
	content: $icon-equalizer2;
}
.menu-icon-cog a:before, .icon-cog:before {
	content: $icon-cog;
}
.menu-icon-cogs a:before, .icon-cogs:before {
	content: $icon-cogs;
}
.menu-icon-hammer a:before, .icon-hammer:before {
	content: $icon-hammer;
}
.menu-icon-magic-wand a:before, .icon-magic-wand:before {
	content: $icon-magic-wand;
}
.menu-icon-aid-kit a:before, .icon-aid-kit:before {
	content: $icon-aid-kit;
}
.menu-icon-bug a:before, .icon-bug:before {
	content: $icon-bug;
}
.menu-icon-pie-chart a:before, .icon-pie-chart:before {
	content: $icon-pie-chart;
}
.menu-icon-stats-dots a:before, .icon-stats-dots:before {
	content: $icon-stats-dots;
}
.menu-icon-stats-bars a:before, .icon-stats-bars:before {
	content: $icon-stats-bars;
}
.menu-icon-stats-bars2 a:before, .icon-stats-bars2:before {
	content: $icon-stats-bars2;
}
.menu-icon-trophy a:before, .icon-trophy:before {
	content: $icon-trophy;
}
.menu-icon-gift a:before, .icon-gift:before {
	content: $icon-gift;
}
.menu-icon-glass a:before, .icon-glass:before {
	content: $icon-glass;
}
.menu-icon-glass2 a:before, .icon-glass2:before {
	content: $icon-glass2;
}
.menu-icon-mug a:before, .icon-mug:before {
	content: $icon-mug;
}
.menu-icon-spoon-knife a:before, .icon-spoon-knife:before {
	content: $icon-spoon-knife;
}
.menu-icon-leaf a:before, .icon-leaf:before {
	content: $icon-leaf;
}
.menu-icon-rocket a:before, .icon-rocket:before {
	content: $icon-rocket;
}
.menu-icon-meter a:before, .icon-meter:before {
	content: $icon-meter;
}
.menu-icon-meter2 a:before, .icon-meter2:before {
	content: $icon-meter2;
}
.menu-icon-hammer2 a:before, .icon-hammer2:before {
	content: $icon-hammer2;
}
.menu-icon-fire a:before, .icon-fire:before {
	content: $icon-fire;
}
.menu-icon-lab a:before, .icon-lab:before {
	content: $icon-lab;
}
.menu-icon-magnet a:before, .icon-magnet:before {
	content: $icon-magnet;
}
.menu-icon-bin a:before, .icon-bin:before {
	content: $icon-bin;
}
.menu-icon-bin2 a:before, .icon-bin2:before {
	content: $icon-bin2;
}
.menu-icon-briefcase a:before, .icon-briefcase:before {
	content: $icon-briefcase;
}
.menu-icon-airplane a:before, .icon-airplane:before {
	content: $icon-airplane;
}
.menu-icon-truck a:before, .icon-truck:before {
	content: $icon-truck;
}
.menu-icon-road a:before, .icon-road:before {
	content: $icon-road;
}
.menu-icon-accessibility a:before, .icon-accessibility:before {
	content: $icon-accessibility;
}
.menu-icon-target a:before, .icon-target:before {
	content: $icon-target;
}
.menu-icon-shield a:before, .icon-shield:before {
	content: $icon-shield;
}
.menu-icon-power a:before, .icon-power:before {
	content: $icon-power;
}
.menu-icon-switch a:before, .icon-switch:before {
	content: $icon-switch;
}
.menu-icon-power-cord a:before, .icon-power-cord:before {
	content: $icon-power-cord;
}
.menu-icon-clipboard a:before, .icon-clipboard:before {
	content: $icon-clipboard;
}
.menu-icon-list-numbered a:before, .icon-list-numbered:before {
	content: $icon-list-numbered;
}
.menu-icon-list a:before, .icon-list:before {
	content: $icon-list;
}
.menu-icon-list2 a:before, .icon-list2:before {
	content: $icon-list2;
}
.menu-icon-tree a:before, .icon-tree:before {
	content: $icon-tree;
}
.menu-icon-menu a:before, .icon-menu:before {
	content: $icon-menu;
}
.menu-icon-menu2 a:before, .icon-menu2:before {
	content: $icon-menu2;
}
.menu-icon-menu3 a:before, .icon-menu3:before {
	content: $icon-menu3;
}
.menu-icon-menu4 a:before, .icon-menu4:before {
	content: $icon-menu4;
}
.menu-icon-cloud a:before, .icon-cloud:before {
	content: $icon-cloud;
}
.menu-icon-cloud-download a:before, .icon-cloud-download:before {
	content: $icon-cloud-download;
}
.menu-icon-cloud-upload a:before, .icon-cloud-upload:before {
	content: $icon-cloud-upload;
}
.menu-icon-cloud-check a:before, .icon-cloud-check:before {
	content: $icon-cloud-check;
}
.menu-icon-download2 a:before, .icon-download2:before {
	content: $icon-download2;
}
.menu-icon-upload2 a:before, .icon-upload2:before {
	content: $icon-upload2;
}
.menu-icon-download3 a:before, .icon-download3:before {
	content: $icon-download3;
}
.menu-icon-upload3 a:before, .icon-upload3:before {
	content: $icon-upload3;
}
.menu-icon-sphere a:before, .icon-sphere:before {
	content: $icon-sphere;
}
.menu-icon-earth a:before, .icon-earth:before {
	content: $icon-earth;
}
.menu-icon-link a:before, .icon-link:before {
	content: $icon-link;
}
.menu-icon-flag a:before, .icon-flag:before {
	content: $icon-flag;
}
.menu-icon-attachment a:before, .icon-attachment:before {
	content: $icon-attachment;
}
.menu-icon-eye a:before, .icon-eye:before {
	content: $icon-eye;
}
.menu-icon-eye-plus a:before, .icon-eye-plus:before {
	content: $icon-eye-plus;
}
.menu-icon-eye-minus a:before, .icon-eye-minus:before {
	content: $icon-eye-minus;
}
.menu-icon-eye-blocked a:before, .icon-eye-blocked:before {
	content: $icon-eye-blocked;
}
.menu-icon-bookmark a:before, .icon-bookmark:before {
	content: $icon-bookmark;
}
.menu-icon-bookmarks a:before, .icon-bookmarks:before {
	content: $icon-bookmarks;
}
.menu-icon-sun a:before, .icon-sun:before {
	content: $icon-sun;
}
.menu-icon-contrast a:before, .icon-contrast:before {
	content: $icon-contrast;
}
.menu-icon-brightness-contrast a:before, .icon-brightness-contrast:before {
	content: $icon-brightness-contrast;
}
.menu-icon-star-empty a:before, .icon-star-empty:before {
	content: $icon-star-empty;
}
.menu-icon-star-half a:before, .icon-star-half:before {
	content: $icon-star-half;
}
.menu-icon-star-full a:before, .icon-star-full:before {
	content: $icon-star-full;
}
.menu-icon-heart a:before, .icon-heart:before {
	content: $icon-heart;
}
.menu-icon-heart-broken a:before, .icon-heart-broken:before {
	content: $icon-heart-broken;
}
.menu-icon-man a:before, .icon-man:before {
	content: $icon-man;
}
.menu-icon-woman a:before, .icon-woman:before {
	content: $icon-woman;
}
.menu-icon-man-woman a:before, .icon-man-woman:before {
	content: $icon-man-woman;
}
.menu-icon-happy a:before, .icon-happy:before {
	content: $icon-happy;
}
.menu-icon-happy2 a:before, .icon-happy2:before {
	content: $icon-happy2;
}
.menu-icon-smile a:before, .icon-smile:before {
	content: $icon-smile;
}
.menu-icon-smile2 a:before, .icon-smile2:before {
	content: $icon-smile2;
}
.menu-icon-tongue a:before, .icon-tongue:before {
	content: $icon-tongue;
}
.menu-icon-tongue2 a:before, .icon-tongue2:before {
	content: $icon-tongue2;
}
.menu-icon-sad a:before, .icon-sad:before {
	content: $icon-sad;
}
.menu-icon-sad2 a:before, .icon-sad2:before {
	content: $icon-sad2;
}
.menu-icon-wink a:before, .icon-wink:before {
	content: $icon-wink;
}
.menu-icon-wink2 a:before, .icon-wink2:before {
	content: $icon-wink2;
}
.menu-icon-grin a:before, .icon-grin:before {
	content: $icon-grin;
}
.menu-icon-grin2 a:before, .icon-grin2:before {
	content: $icon-grin2;
}
.menu-icon-cool a:before, .icon-cool:before {
	content: $icon-cool;
}
.menu-icon-cool2 a:before, .icon-cool2:before {
	content: $icon-cool2;
}
.menu-icon-angry a:before, .icon-angry:before {
	content: $icon-angry;
}
.menu-icon-angry2 a:before, .icon-angry2:before {
	content: $icon-angry2;
}
.menu-icon-evil a:before, .icon-evil:before {
	content: $icon-evil;
}
.menu-icon-evil2 a:before, .icon-evil2:before {
	content: $icon-evil2;
}
.menu-icon-shocked a:before, .icon-shocked:before {
	content: $icon-shocked;
}
.menu-icon-shocked2 a:before, .icon-shocked2:before {
	content: $icon-shocked2;
}
.menu-icon-baffled a:before, .icon-baffled:before {
	content: $icon-baffled;
}
.menu-icon-baffled2 a:before, .icon-baffled2:before {
	content: $icon-baffled2;
}
.menu-icon-confused a:before, .icon-confused:before {
	content: $icon-confused;
}
.menu-icon-confused2 a:before, .icon-confused2:before {
	content: $icon-confused2;
}
.menu-icon-neutral a:before, .icon-neutral:before {
	content: $icon-neutral;
}
.menu-icon-neutral2 a:before, .icon-neutral2:before {
	content: $icon-neutral2;
}
.menu-icon-hipster a:before, .icon-hipster:before {
	content: $icon-hipster;
}
.menu-icon-hipster2 a:before, .icon-hipster2:before {
	content: $icon-hipster2;
}
.menu-icon-wondering a:before, .icon-wondering:before {
	content: $icon-wondering;
}
.menu-icon-wondering2 a:before, .icon-wondering2:before {
	content: $icon-wondering2;
}
.menu-icon-sleepy a:before, .icon-sleepy:before {
	content: $icon-sleepy;
}
.menu-icon-sleepy2 a:before, .icon-sleepy2:before {
	content: $icon-sleepy2;
}
.menu-icon-frustrated a:before, .icon-frustrated:before {
	content: $icon-frustrated;
}
.menu-icon-frustrated2 a:before, .icon-frustrated2:before {
	content: $icon-frustrated2;
}
.menu-icon-crying a:before, .icon-crying:before {
	content: $icon-crying;
}
.menu-icon-crying2 a:before, .icon-crying2:before {
	content: $icon-crying2;
}
.menu-icon-point-up a:before, .icon-point-up:before {
	content: $icon-point-up;
}
.menu-icon-point-right a:before, .icon-point-right:before {
	content: $icon-point-right;
}
.menu-icon-point-down a:before, .icon-point-down:before {
	content: $icon-point-down;
}
.menu-icon-point-left a:before, .icon-point-left:before {
	content: $icon-point-left;
}
.menu-icon-warning a:before, .icon-warning:before {
	content: $icon-warning;
}
.menu-icon-notification a:before, .icon-notification:before {
	content: $icon-notification;
}
.menu-icon-question a:before, .icon-question:before {
	content: $icon-question;
}
.menu-icon-plus a:before, .icon-plus:before {
	content: $icon-plus;
}
.menu-icon-minus a:before, .icon-minus:before {
	content: $icon-minus;
}
.menu-icon-info a:before, .icon-info:before {
	content: $icon-info;
}
.menu-icon-cancel-circle a:before, .icon-cancel-circle:before {
	content: $icon-cancel-circle;
}
.menu-icon-blocked a:before, .icon-blocked:before {
	content: $icon-blocked;
}
.menu-icon-cross a:before, .icon-cross:before {
	content: $icon-cross;
}
.menu-icon-checkmark a:before, .icon-checkmark:before {
	content: $icon-checkmark;
}
.menu-icon-checkmark2 a:before, .icon-checkmark2:before {
	content: $icon-checkmark2;
}
.menu-icon-spell-check a:before, .icon-spell-check:before {
	content: $icon-spell-check;
}
.menu-icon-enter a:before, .icon-enter:before {
	content: $icon-enter;
}
.menu-icon-exit a:before, .icon-exit:before {
	content: $icon-exit;
}
.menu-icon-play2 a:before, .icon-play2:before {
	content: $icon-play2;
}
.menu-icon-pause a:before, .icon-pause:before {
	content: $icon-pause;
}
.menu-icon-stop a:before, .icon-stop:before {
	content: $icon-stop;
}
.menu-icon-previous a:before, .icon-previous:before {
	content: $icon-previous;
}
.menu-icon-next a:before, .icon-next:before {
	content: $icon-next;
}
.menu-icon-backward a:before, .icon-backward:before {
	content: $icon-backward;
}
.menu-icon-forward2 a:before, .icon-forward2:before {
	content: $icon-forward2;
}
.menu-icon-play3 a:before, .icon-play3:before {
	content: $icon-play3;
}
.menu-icon-pause2 a:before, .icon-pause2:before {
	content: $icon-pause2;
}
.menu-icon-stop2 a:before, .icon-stop2:before {
	content: $icon-stop2;
}
.menu-icon-backward2 a:before, .icon-backward2:before {
	content: $icon-backward2;
}
.menu-icon-forward3 a:before, .icon-forward3:before {
	content: $icon-forward3;
}
.menu-icon-first a:before, .icon-first:before {
	content: $icon-first;
}
.menu-icon-last a:before, .icon-last:before {
	content: $icon-last;
}
.menu-icon-previous2 a:before, .icon-previous2:before {
	content: $icon-previous2;
}
.menu-icon-next2 a:before, .icon-next2:before {
	content: $icon-next2;
}
.menu-icon-eject a:before, .icon-eject:before {
	content: $icon-eject;
}
.menu-icon-volume-high a:before, .icon-volume-high:before {
	content: $icon-volume-high;
}
.menu-icon-volume-medium a:before, .icon-volume-medium:before {
	content: $icon-volume-medium;
}
.menu-icon-volume-low a:before, .icon-volume-low:before {
	content: $icon-volume-low;
}
.menu-icon-volume-mute a:before, .icon-volume-mute:before {
	content: $icon-volume-mute;
}
.menu-icon-volume-mute2 a:before, .icon-volume-mute2:before {
	content: $icon-volume-mute2;
}
.menu-icon-volume-increase a:before, .icon-volume-increase:before {
	content: $icon-volume-increase;
}
.menu-icon-volume-decrease a:before, .icon-volume-decrease:before {
	content: $icon-volume-decrease;
}
.menu-icon-loop a:before, .icon-loop:before {
	content: $icon-loop;
}
.menu-icon-loop2 a:before, .icon-loop2:before {
	content: $icon-loop2;
}
.menu-icon-infinite a:before, .icon-infinite:before {
	content: $icon-infinite;
}
.menu-icon-shuffle a:before, .icon-shuffle:before {
	content: $icon-shuffle;
}
.menu-icon-arrow-up-left a:before, .icon-arrow-up-left:before {
	content: $icon-arrow-up-left;
}
.menu-icon-arrow-up a:before, .icon-arrow-up:before {
	content: $icon-arrow-up;
}
.menu-icon-arrow-up-right a:before, .icon-arrow-up-right:before {
	content: $icon-arrow-up-right;
}
.menu-icon-arrow-right a:before, .icon-arrow-right:before {
	content: $icon-arrow-right;
}
.menu-icon-arrow-down-right a:before, .icon-arrow-down-right:before {
	content: $icon-arrow-down-right;
}
.menu-icon-arrow-down a:before, .icon-arrow-down:before {
	content: $icon-arrow-down;
}
.menu-icon-arrow-down-left a:before, .icon-arrow-down-left:before {
	content: $icon-arrow-down-left;
}
.menu-icon-arrow-left a:before, .icon-arrow-left:before {
	content: $icon-arrow-left;
}
.menu-icon-arrow-up-left2 a:before, .icon-arrow-up-left2:before {
	content: $icon-arrow-up-left2;
}
.menu-icon-arrow-up2 a:before, .icon-arrow-up2:before {
	content: $icon-arrow-up2;
}
.menu-icon-arrow-up-right2 a:before, .icon-arrow-up-right2:before {
	content: $icon-arrow-up-right2;
}
.menu-icon-arrow-right2 a:before, .icon-arrow-right2:before {
	content: $icon-arrow-right2;
}
.menu-icon-arrow-down-right2 a:before, .icon-arrow-down-right2:before {
	content: $icon-arrow-down-right2;
}
.menu-icon-arrow-down2 a:before, .icon-arrow-down2:before {
	content: $icon-arrow-down2;
}
.menu-icon-arrow-down-left2 a:before, .icon-arrow-down-left2:before {
	content: $icon-arrow-down-left2;
}
.menu-icon-arrow-left2 a:before, .icon-arrow-left2:before {
	content: $icon-arrow-left2;
}
.menu-icon-circle-up a:before, .icon-circle-up:before {
	content: $icon-circle-up;
}
.menu-icon-circle-right a:before, .icon-circle-right:before {
	content: $icon-circle-right;
}
.menu-icon-circle-down a:before, .icon-circle-down:before {
	content: $icon-circle-down;
}
.menu-icon-circle-left a:before, .icon-circle-left:before {
	content: $icon-circle-left;
}
.menu-icon-tab a:before, .icon-tab:before {
	content: $icon-tab;
}
.menu-icon-move-up a:before, .icon-move-up:before {
	content: $icon-move-up;
}
.menu-icon-move-down a:before, .icon-move-down:before {
	content: $icon-move-down;
}
.menu-icon-sort-alpha-asc a:before, .icon-sort-alpha-asc:before {
	content: $icon-sort-alpha-asc;
}
.menu-icon-sort-alpha-desc a:before, .icon-sort-alpha-desc:before {
	content: $icon-sort-alpha-desc;
}
.menu-icon-sort-numeric-asc a:before, .icon-sort-numeric-asc:before {
	content: $icon-sort-numeric-asc;
}
.menu-icon-sort-numberic-desc a:before, .icon-sort-numberic-desc:before {
	content: $icon-sort-numberic-desc;
}
.menu-icon-sort-amount-asc a:before, .icon-sort-amount-asc:before {
	content: $icon-sort-amount-asc;
}
.menu-icon-sort-amount-desc a:before, .icon-sort-amount-desc:before {
	content: $icon-sort-amount-desc;
}
.menu-icon-command a:before, .icon-command:before {
	content: $icon-command;
}
.menu-icon-shift a:before, .icon-shift:before {
	content: $icon-shift;
}
.menu-icon-ctrl a:before, .icon-ctrl:before {
	content: $icon-ctrl;
}
.menu-icon-opt a:before, .icon-opt:before {
	content: $icon-opt;
}
.menu-icon-checkbox-checked a:before, .icon-checkbox-checked:before {
	content: $icon-checkbox-checked;
}
.menu-icon-checkbox-unchecked a:before, .icon-checkbox-unchecked:before {
	content: $icon-checkbox-unchecked;
}
.menu-icon-radio-checked a:before, .icon-radio-checked:before {
	content: $icon-radio-checked;
}
.menu-icon-radio-checked2 a:before, .icon-radio-checked2:before {
	content: $icon-radio-checked2;
}
.menu-icon-radio-unchecked a:before, .icon-radio-unchecked:before {
	content: $icon-radio-unchecked;
}
.menu-icon-crop a:before, .icon-crop:before {
	content: $icon-crop;
}
.menu-icon-make-group a:before, .icon-make-group:before {
	content: $icon-make-group;
}
.menu-icon-ungroup a:before, .icon-ungroup:before {
	content: $icon-ungroup;
}
.menu-icon-scissors a:before, .icon-scissors:before {
	content: $icon-scissors;
}
.menu-icon-filter a:before, .icon-filter:before {
	content: $icon-filter;
}
.menu-icon-font a:before, .icon-font:before {
	content: $icon-font;
}
.menu-icon-ligature a:before, .icon-ligature:before {
	content: $icon-ligature;
}
.menu-icon-ligature2 a:before, .icon-ligature2:before {
	content: $icon-ligature2;
}
.menu-icon-text-height a:before, .icon-text-height:before {
	content: $icon-text-height;
}
.menu-icon-text-width a:before, .icon-text-width:before {
	content: $icon-text-width;
}
.menu-icon-font-size a:before, .icon-font-size:before {
	content: $icon-font-size;
}
.menu-icon-bold a:before, .icon-bold:before {
	content: $icon-bold;
}
.menu-icon-underline a:before, .icon-underline:before {
	content: $icon-underline;
}
.menu-icon-italic a:before, .icon-italic:before {
	content: $icon-italic;
}
.menu-icon-strikethrough a:before, .icon-strikethrough:before {
	content: $icon-strikethrough;
}
.menu-icon-omega a:before, .icon-omega:before {
	content: $icon-omega;
}
.menu-icon-sigma a:before, .icon-sigma:before {
	content: $icon-sigma;
}
.menu-icon-page-break a:before, .icon-page-break:before {
	content: $icon-page-break;
}
.menu-icon-superscript a:before, .icon-superscript:before {
	content: $icon-superscript;
}
.menu-icon-subscript a:before, .icon-subscript:before {
	content: $icon-subscript;
}
.menu-icon-superscript2 a:before, .icon-superscript2:before {
	content: $icon-superscript2;
}
.menu-icon-subscript2 a:before, .icon-subscript2:before {
	content: $icon-subscript2;
}
.menu-icon-text-color a:before, .icon-text-color:before {
	content: $icon-text-color;
}
.menu-icon-pagebreak a:before, .icon-pagebreak:before {
	content: $icon-pagebreak;
}
.menu-icon-clear-formatting a:before, .icon-clear-formatting:before {
	content: $icon-clear-formatting;
}
.menu-icon-table a:before, .icon-table:before {
	content: $icon-table;
}
.menu-icon-table2 a:before, .icon-table2:before {
	content: $icon-table2;
}
.menu-icon-insert-template a:before, .icon-insert-template:before {
	content: $icon-insert-template;
}
.menu-icon-pilcrow a:before, .icon-pilcrow:before {
	content: $icon-pilcrow;
}
.menu-icon-ltr a:before, .icon-ltr:before {
	content: $icon-ltr;
}
.menu-icon-rtl a:before, .icon-rtl:before {
	content: $icon-rtl;
}
.menu-icon-section a:before, .icon-section:before {
	content: $icon-section;
}
.menu-icon-paragraph-left a:before, .icon-paragraph-left:before {
	content: $icon-paragraph-left;
}
.menu-icon-paragraph-center a:before, .icon-paragraph-center:before {
	content: $icon-paragraph-center;
}
.menu-icon-paragraph-right a:before, .icon-paragraph-right:before {
	content: $icon-paragraph-right;
}
.menu-icon-paragraph-justify a:before, .icon-paragraph-justify:before {
	content: $icon-paragraph-justify;
}
.menu-icon-indent-increase a:before, .icon-indent-increase:before {
	content: $icon-indent-increase;
}
.menu-icon-indent-decrease a:before, .icon-indent-decrease:before {
	content: $icon-indent-decrease;
}
.menu-icon-share a:before, .icon-share:before {
	content: $icon-share;
}
.menu-icon-new-tab a:before, .icon-new-tab:before {
	content: $icon-new-tab;
}
.menu-icon-embed a:before, .icon-embed:before {
	content: $icon-embed;
}
.menu-icon-embed2 a:before, .icon-embed2:before {
	content: $icon-embed2;
}
.menu-icon-terminal a:before, .icon-terminal:before {
	content: $icon-terminal;
}
.menu-icon-share2 a:before, .icon-share2:before {
	content: $icon-share2;
}
.menu-icon-mail a:before, .icon-mail:before {
	content: $icon-mail;
}
.menu-icon-mail2 a:before, .icon-mail2:before {
	content: $icon-mail2;
}
.menu-icon-mail3 a:before, .icon-mail3:before {
	content: $icon-mail3;
}
.menu-icon-mail4 a:before, .icon-mail4:before {
	content: $icon-mail4;
}
.menu-icon-amazon a:before, .icon-amazon:before {
	content: $icon-amazon;
}
.menu-icon-google a:before, .icon-google:before {
	content: $icon-google;
}
.menu-icon-google2 a:before, .icon-google2:before {
	content: $icon-google2;
}
.menu-icon-google3 a:before, .icon-google3:before {
	content: $icon-google3;
}
.menu-icon-google-plus a:before, .icon-google-plus:before {
	content: $icon-google-plus;
}
.menu-icon-google-plus2 a:before, .icon-google-plus2:before {
	content: $icon-google-plus2;
}
.menu-icon-google-plus3 a:before, .icon-google-plus3:before {
	content: $icon-google-plus3;
}
.menu-icon-hangouts a:before, .icon-hangouts:before {
	content: $icon-hangouts;
}
.menu-icon-google-drive a:before, .icon-google-drive:before {
	content: $icon-google-drive;
}
.menu-icon-facebook a:before, .icon-facebook:before {
	content: $icon-facebook;
}
.menu-icon-facebook2 a:before, .icon-facebook2:before {
	content: $icon-facebook2;
}
.menu-icon-instagram a:before, .icon-instagram:before {
	content: $icon-instagram;
}
.menu-icon-whatsapp a:before, .icon-whatsapp:before {
	content: $icon-whatsapp;
}
.menu-icon-spotify a:before, .icon-spotify:before {
	content: $icon-spotify;
}
.menu-icon-telegram a:before, .icon-telegram:before {
	content: $icon-telegram;
}
.menu-icon-twitter a:before, .icon-twitter:before {
	content: $icon-twitter;
}
.menu-icon-vine a:before, .icon-vine:before {
	content: $icon-vine;
}
.menu-icon-vk a:before, .icon-vk:before {
	content: $icon-vk;
}
.menu-icon-renren a:before, .icon-renren:before {
	content: $icon-renren;
}
.menu-icon-sina-weibo a:before, .icon-sina-weibo:before {
	content: $icon-sina-weibo;
}
.menu-icon-rss a:before, .icon-rss:before {
	content: $icon-rss;
}
.menu-icon-rss2 a:before, .icon-rss2:before {
	content: $icon-rss2;
}
.menu-icon-youtube a:before, .icon-youtube:before {
	content: $icon-youtube;
}
.menu-icon-youtube2 a:before, .icon-youtube2:before {
	content: $icon-youtube2;
}
.menu-icon-twitch a:before, .icon-twitch:before {
	content: $icon-twitch;
}
.menu-icon-vimeo a:before, .icon-vimeo:before {
	content: $icon-vimeo;
}
.menu-icon-vimeo2 a:before, .icon-vimeo2:before {
	content: $icon-vimeo2;
}
.menu-icon-lanyrd a:before, .icon-lanyrd:before {
	content: $icon-lanyrd;
}
.menu-icon-flickr a:before, .icon-flickr:before {
	content: $icon-flickr;
}
.menu-icon-flickr2 a:before, .icon-flickr2:before {
	content: $icon-flickr2;
}
.menu-icon-flickr3 a:before, .icon-flickr3:before {
	content: $icon-flickr3;
}
.menu-icon-flickr4 a:before, .icon-flickr4:before {
	content: $icon-flickr4;
}
.menu-icon-dribbble a:before, .icon-dribbble:before {
	content: $icon-dribbble;
}
.menu-icon-behance a:before, .icon-behance:before {
	content: $icon-behance;
}
.menu-icon-behance2 a:before, .icon-behance2:before {
	content: $icon-behance2;
}
.menu-icon-deviantart a:before, .icon-deviantart:before {
	content: $icon-deviantart;
}
.menu-icon-500px a:before, .icon-500px:before {
	content: $icon-500px;
}
.menu-icon-steam a:before, .icon-steam:before {
	content: $icon-steam;
}
.menu-icon-steam2 a:before, .icon-steam2:before {
	content: $icon-steam2;
}
.menu-icon-dropbox a:before, .icon-dropbox:before {
	content: $icon-dropbox;
}
.menu-icon-onedrive a:before, .icon-onedrive:before {
	content: $icon-onedrive;
}
.menu-icon-github a:before, .icon-github:before {
	content: $icon-github;
}
.menu-icon-npm a:before, .icon-npm:before {
	content: $icon-npm;
}
.menu-icon-basecamp a:before, .icon-basecamp:before {
	content: $icon-basecamp;
}
.menu-icon-trello a:before, .icon-trello:before {
	content: $icon-trello;
}
.menu-icon-wordpress a:before, .icon-wordpress:before {
	content: $icon-wordpress;
}
.menu-icon-joomla a:before, .icon-joomla:before {
	content: $icon-joomla;
}
.menu-icon-ello a:before, .icon-ello:before {
	content: $icon-ello;
}
.menu-icon-blogger a:before, .icon-blogger:before {
	content: $icon-blogger;
}
.menu-icon-blogger2 a:before, .icon-blogger2:before {
	content: $icon-blogger2;
}
.menu-icon-tumblr a:before, .icon-tumblr:before {
	content: $icon-tumblr;
}
.menu-icon-tumblr2 a:before, .icon-tumblr2:before {
	content: $icon-tumblr2;
}
.menu-icon-yahoo a:before, .icon-yahoo:before {
	content: $icon-yahoo;
}
.menu-icon-yahoo2 a:before, .icon-yahoo2:before {
	content: $icon-yahoo2;
}
.menu-icon-tux a:before, .icon-tux:before {
	content: $icon-tux;
}
.menu-icon-appleinc a:before, .icon-appleinc:before {
	content: $icon-appleinc;
}
.menu-icon-finder a:before, .icon-finder:before {
	content: $icon-finder;
}
.menu-icon-android a:before, .icon-android:before {
	content: $icon-android;
}
.menu-icon-windows a:before, .icon-windows:before {
	content: $icon-windows;
}
.menu-icon-windows8 a:before, .icon-windows8:before {
	content: $icon-windows8;
}
.menu-icon-soundcloud a:before, .icon-soundcloud:before {
	content: $icon-soundcloud;
}
.menu-icon-soundcloud2 a:before, .icon-soundcloud2:before {
	content: $icon-soundcloud2;
}
.menu-icon-skype a:before, .icon-skype:before {
	content: $icon-skype;
}
.menu-icon-reddit a:before, .icon-reddit:before {
	content: $icon-reddit;
}
.menu-icon-hackernews a:before, .icon-hackernews:before {
	content: $icon-hackernews;
}
.menu-icon-wikipedia a:before, .icon-wikipedia:before {
	content: $icon-wikipedia;
}
.menu-icon-linkedin a:before, .icon-linkedin:before {
	content: $icon-linkedin;
}
.menu-icon-linkedin2 a:before, .icon-linkedin2:before {
	content: $icon-linkedin2;
}
.menu-icon-lastfm a:before, .icon-lastfm:before {
	content: $icon-lastfm;
}
.menu-icon-lastfm2 a:before, .icon-lastfm2:before {
	content: $icon-lastfm2;
}
.menu-icon-delicious a:before, .icon-delicious:before {
	content: $icon-delicious;
}
.menu-icon-stumbleupon a:before, .icon-stumbleupon:before {
	content: $icon-stumbleupon;
}
.menu-icon-stumbleupon2 a:before, .icon-stumbleupon2:before {
	content: $icon-stumbleupon2;
}
.menu-icon-stackoverflow a:before, .icon-stackoverflow:before {
	content: $icon-stackoverflow;
}
.menu-icon-pinterest a:before, .icon-pinterest:before {
	content: $icon-pinterest;
}
.menu-icon-pinterest2 a:before, .icon-pinterest2:before {
	content: $icon-pinterest2;
}
.menu-icon-xing a:before, .icon-xing:before {
	content: $icon-xing;
}
.menu-icon-xing2 a:before, .icon-xing2:before {
	content: $icon-xing2;
}
.menu-icon-flattr a:before, .icon-flattr:before {
	content: $icon-flattr;
}
.menu-icon-foursquare a:before, .icon-foursquare:before {
	content: $icon-foursquare;
}
.menu-icon-yelp a:before, .icon-yelp:before {
	content: $icon-yelp;
}
.menu-icon-paypal a:before, .icon-paypal:before {
	content: $icon-paypal;
}
.menu-icon-chrome a:before, .icon-chrome:before {
	content: $icon-chrome;
}
.menu-icon-firefox a:before, .icon-firefox:before {
	content: $icon-firefox;
}
.menu-icon-IE a:before, .icon-IE:before {
	content: $icon-IE;
}
.menu-icon-edge a:before, .icon-edge:before {
	content: $icon-edge;
}
.menu-icon-safari a:before, .icon-safari:before {
	content: $icon-safari;
}
.menu-icon-opera a:before, .icon-opera:before {
	content: $icon-opera;
}
.menu-icon-file-pdf a:before, .icon-file-pdf:before {
	content: $icon-file-pdf;
}
.menu-icon-file-openoffice a:before, .icon-file-openoffice:before {
	content: $icon-file-openoffice;
}
.menu-icon-file-word a:before, .icon-file-word:before {
	content: $icon-file-word;
}
.menu-icon-file-excel a:before, .icon-file-excel:before {
	content: $icon-file-excel;
}
.menu-icon-libreoffice a:before, .icon-libreoffice:before {
	content: $icon-libreoffice;
}
.menu-icon-html-five a:before, .icon-html-five:before {
	content: $icon-html-five;
}
.menu-icon-html-five2 a:before, .icon-html-five2:before {
	content: $icon-html-five2;
}
.menu-icon-css3 a:before, .icon-css3:before {
	content: $icon-css3;
}
.menu-icon-git a:before, .icon-git:before {
	content: $icon-git;
}
.menu-icon-codepen a:before, .icon-codepen:before {
	content: $icon-codepen;
}
.menu-icon-svg a:before, .icon-svg:before {
	content: $icon-svg;
}
.menu-icon-IcoMoon a:before, .icon-IcoMoon:before {
	content: $icon-IcoMoon;
}
