/**
 * 01. Positioning
 * 02. Breakpoints
 * 03. Hovers
 * 04. Typography
 */

 // 01. Positioning
 @mixin position($top: 0, $right: $top, $bottom: $top, $left: $right) {
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

 // 02. Breakpoints
@mixin from( $px ) {
    @media screen and (min-width: #{$px} ) {
        @content;
    }
}
  
@mixin until( $px ) {
    @media screen and (max-width: #{$px - 1px} ) {
        @content;
    }
}

// 03. Hovers
@mixin hover-wave( $color: inherit, $underline_color: $color, $offset: 3px ) {
    transition: color $global-timing, text-decoration-color $global-timing;

    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-style: wavy;
    text-underline-offset: $offset;
    
    &:hover {
        color: $color;
        text-decoration-color: $underline_color;
    }
}

@mixin cta-font() {
    font-family: $cta-font;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

@mixin pull-full( $breakpoint: $container ) {
    margin-left: -1rem;
    margin-right: -1rem;

    // 1440px container
    @media only screen and ( min-width: $breakpoint ) {
        margin-left: calc( -50vw + ($breakpoint / 2) - 1rem );
        margin-right: calc( -50vw + ($breakpoint / 2) - 1rem );
    }
}

@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    
    @if $index {
      @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    
    @return $string;
}