/**
 * 01. Positioning
 * 02. Breakpoints
 * 03. Hovers
 * 04. Typography
 */

 // 01. Positioning
 @mixin position($top: 0, $right: $top, $bottom: $top, $left: $right) {
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

 // 02. Breakpoints
@mixin from( $px ) {
    @media screen and (min-width: #{$px} ) {
        @content;
    }
}
  
@mixin until( $px ) {
    @media screen and (max-width: #{$px - 1px} ) {
        @content;
    }
}

// 03. Hovers
@mixin hover-wave( $color: inherit, $underline_color: $color, $offset: 3px ) {
    transition: color $global-timing, text-decoration-color $global-timing;

    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-style: wavy;
    text-underline-offset: $offset;
    
    &:hover {
        color: $color;
        text-decoration-color: $underline_color;
    }
}

@mixin cta-font() {
    font-family: $cta-font;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}