body, html {
	font-family: $body-font;
	font-weight: $body-font-weight;
}

h1, h2, h3, h4, h5, h6,
.as-h1, .as-h2, .as-h3, .as-h4, .as-h5, .as-h6 {
	font-family: $heading-font;
	font-weight: $heading-font-weight;
}

.text-center {
    text-align: center;
}

$icon-font: 'tmg';

@mixin icon-font ( $font: $icon-font ) {
  font-family: '#{$font}';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin icon-font-family ( $font: $icon-font ) {
	@font-face {
		font-family: '#{$font}';
		src:url('../assets/fonts/#{$font}.eot');
		src:url('../assets/fonts/#{$font}.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/#{$font}.svg#aec') format('svg'),
		url('../assets/fonts/#{$font}.woff') format('woff'),
		url('../assets/fonts/#{$font}.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

	@media screen and ( -webkit-min-device-pixel-ratio: 0 ) {
		@font-face {
			font-family: '#{$font}';
			src: url('../assets/fonts/#{$font}.svg##{$font}') format('svg');
		}
	}
}

@include icon-font-family ( $icon-font );

[class^="icon-"], [class*=" icon-"], [class*="has-icon"]:before, [class*="has-after-icon"]:after {
  @include icon-font( $icon-font );
}

h1, h2, h3,
h4, h5, h6 {
    @extend %headings !optional;
}