/**
 * 01. Colors
 * * 01.1 Assignments
 * 02. Sizes
 * * 02.1 Breakpoints
 * 03. Globals
 * 04. Maps
 * 05. Fonts

 */

// 01. Colors
$tmg_coffee: #685C56;
$tmg_cream: #FFFAF7;
$tmg_pumpkin: #F5B080;

$tmg_green_leaf: #878B6B;
$tmg_fallen_leaf: #F1B968;
$tmg_raked_leaf: #A67667;

$white: #fff;
$black: #000;

// * * 01.1 Assignments
$body-background: $tmg_cream;

// 02. Sizes
$pad: 1rem;

// - - Max Width of Content
$container: 1440px;

// - - Negative margin to pull items out of container to the edges of the browser
$edge-pull: calc( ( 100vw - $container ) / 2 );

// 02.1 Breakpoints
$small: 480px;
$mobile: 768px;
$medium: 1440px;
$large: 1920px;
$xlarge: 2560px;

// 03. Globals
$global-timing: .3s;
$global-easing: ease-in-out;
$global-radius: .25rem;

// 04. Maps
$breakpoints: (
    'small': $small,
    'mobile': $mobile,
    'medium': $medium,
    'large': $large,
    'xlarge': $xlarge,
);

$horizontal: (
    left,
    center,
    right
);

$vertical: (
    top,
    middle,
    bottom
);

$spacing: (
    "none": 0,
    "half": .5rem,
    "small": 1rem,
    "": 1rem,
    "medium": 2rem,
    "large": 4rem,
    "xlarge": 6rem
);

// 05. Fonts

// 600, 800, 900
$body-font: "como", sans-serif;
$body-font-weight: 600;
$body-font-weight-bold: 800;
$body-font-weight-heavy: 900;

$heading-font: "TMGtails Sans", sans-serif;
$heading-font-weight: 400;

$cta-font: "TMGtails Sans", sans-serif;
$cta-font-weight: 400;

$heading-accent-font: "olivita", sans-serif;
$heading-accent-font-weight: 400;